<div class="portfolio-main-container">
    <div class="portfolio-nav" ui-sref="home">
        <div class="name-letter" id="port-name-s"><p>s</p></div>
        <div class="name-letter" id="port-name-e"><p>e</p></div>
        <div class="name-letter" id="port-name-t"><p>t</p></div>
        <div class="name-letter" id="port-name-h"><p>h</p></div>
        <div class="name-letter" id="port-name-dot"><p>.</p></div>
        <div class="name-letter" id="port-name-d"><p>d</p></div>
        <div class="name-letter" id="port-name-dot2"><p>.</p></div>
        <div class="name-letter" id="port-name-s2"><p>s</p></div>
        <div class="name-letter" id="port-name-u"><p>u</p></div>
        <div class="name-letter" id="port-name-t2"><p>t</p></div>
        <div class="name-letter" id="port-name-h2"><p>h</p></div>
        <div class="name-letter" id="port-name-e2"><p>e</p></div>
        <div class="name-letter" id="port-name-r"><p>r</p></div>
        <div class="name-letter" id="port-name-l"><p>l</p></div>
        <div class="name-letter" id="port-name-a"><p>a</p></div>
        <div class="name-letter" id="port-name-n"><p>n</p></div>
        <div class="name-letter" id="port-name-d2"><p>d</p></div>
    </div>


    <div class="project-info">

        <div class="project-info-wrapper">
            <div class="project-situation">
                {{project.situation}}
            </div>
            <div class="project-action">
                {{project.action}}
            </div>
            <div class="project-result">
                {{project.result}}
            </div>
            <div class="project-tech">
                {{project.tech}}
            </div>
        </div>
    </div>

    <div class="project-view">

        <div class="project-view-top">
            <div class="project-top-wrapper">
                <div class="project-view-nav">
                    <i class="fa fa-angle-left" aria-hidden="true" ng-click="pageTurnLeft()"></i>
                        <div id="project-one">|</div>
                        <div id="project-two">|</div>
                        <div id="project-three">|</div>
                        <div id="project-four">|</div>
                        <div id="project-five">|</div>
                    <i class="fa fa-angle-right" aria-hidden="true" ng-click="pageTurnRight()"></i>
                </div>

                <p class="project-name">{{project.name}}</p>
            </div>

        </div>

        <a href="http://wearetopsecret.cf/#/"><img ng-repeat="img in project.screenshots" class="projectScreenShot" src="{{img}}"></a>

    </div>
</div>