body {
    margin: 0;
}



/*ANIMATIONS*/

/*home page name animation*/
@keyframes homeName {
    0%{
        color: white;
    }
    25%{
        color: black;
    }
    50%{
        color: white;
    }
    100%{
        color: white;
    }
}

/*HOME PAGE STYLES*/

/*fluid effect*/
#fluid_wrapper{
    position: static;
    opacity: 0.8;
    z-index: 10;
}
#overlay{
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: fixed;
    pointer-events: none;
}
#fluid_container{
    z-index: 9;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.8;
}

/*home main container*/

.home-main-container{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*home text class*/
.home-text{
    color: white;
    font-size: x-large;
    font-family: 'Economica', sans-serif;
    letter-spacing: 1em;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home-text:hover {
    background-color: white;
    color: black;
    letter-spacing: .5em;
}
.home-p{
    transition-duration: .5s;
}

.home-text:hover > .home-p {
    transform: rotate(90deg);
}

.home-text:hover:before {
    content: '.................    '
}
.home-text:hover:after {
    content: '    ..................'
}

/*name styling*/

.my-name{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    color: white;
    font-size: xx-large;
    font-family: 'Economica', sans-serif;
    letter-spacing: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: white;*/
}
.the-name{
    text-transform: uppercase;
}
.name-letter{
    animation-name: homeName;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
#name-s{
animation-delay: 1.6s;
}
#name-e{
    animation-delay: 1s;
}
#name-t{
    animation-delay: 3s;
}
#name-h{
    animation-delay: 2.7s;
}
#name-dot{
    animation-delay: 5s;
}
#name-d{
    animation-delay: 2s;
}
#name-dot-two{
    animation-delay: 7s;
}
#name-s2{
    animation-delay: 8s;
}
#name-u{
    animation-delay: 9s;
}
#name-t2{
    animation-delay: 3s;
}
#name-h2{
    animation-delay: 11s;
}
#name-e2{
    animation-delay: 1s;
}
#name-r{
    animation-delay: 10s;
}
#name-l{
    animation-delay: 14s;
}
#name-a{
    animation-delay: 3s;
}
#name-n{
    animation-delay: 1s;
}
#name-d2{
    animation-delay: 7s;
}


/*portfolio div styling*/

.home-portfolio{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 25%;
    background-color: transparent;
}

.home-resume{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 40%;
    background-color: transparent;
}
.home-about{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 55%;
    background-color: transparent;
}
.home-contact{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 70%;
    background-color: transparent;
}

.home-footer{
    position: absolute;
    margin-left: calc(-200vw/4);
    bottom: 0;
    height: 5%;
    width: 200vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Economica', sans-serif;
    /*background-color: white;*/
}

/*PORTFOLIO VIEW STYLES*/

.portfolio-main-container{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: darkslategray;
}

.portfolio-nav{
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Economica', sans-serif;
    font-size: large;
    cursor: pointer;
    z-index: 2;
}

.project-info{
    position: absolute;
    height: 100%;
    width: calc(100%/2 - 45px);
    left: 50px;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: gainsboro;
}
.project-info-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.project-name{
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}
.project-situation{
    width: 60%;
}
.project-action{
    width: 60%;
}
.project-result{
    width: 60%;
}
.project-tech{
    width: 60%;
}

.project-nav{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
    z-index: 3;
    transition-duration: .5s;
}
.project-nav:hover {
    background-color: white;
    opacity: 0.4;
}

/*nav name styling*/
#port-name-s{
    animation-delay: 1s;
}
#port-name-e{
animation-delay: .5s;
}
#port-name-t{
    animation-delay: 2s;
}
#port-name-h{
    animation-delay: .5s;
}
#port-name-dot{
    animation-delay: 1s;
}
#port-name-d{
    animation-delay: 3s;
}
#port-name-dot2{
    animation-delay: 1s;
}
#port-name-s2{
    animation-delay: 4s;
}
#port-name-u{
    animation-delay: .5s;
}
#port-name-t2{
    animation-delay: .10s;
}
#port-name-h2{
    animation-delay: 5s;
}
#port-name-e2{
    animation-delay: 2s;
}
#port-name-r{
    animation-delay: 1s;
}
#port-name-l{
    animation-delay: 6s;
}
#port-name-a{
    animation-delay: 1s;
}
#port-name-n{
    animation-delay: .5s;
}
#port-name-d{
    animation-delay: .2s;
}


.fa{
    cursor: pointer;
    color: black;
}


.project-view{
    position: absolute;
    height: 85%;
    top: 15%;
    width: calc(100%/2 - 5px);
    right: 0;
    background-color: white;
    overflow-y: scroll;
}
.project-view::-webkit-scrollbar {
    display: none;
}

.project-view-top{
    position: fixed;
    width: calc(100%/2 - 5px);;
    top: 0;
    right: 0;
    height: 33%;
    background-color: white;
    color: black;
    z-index: 1;
}
.project-top-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-view-nav{
  position: absolute;
    height: 10%;
    width: 100%;
    top: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}

.projectScreenShot{
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 50%;
}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}